/* Media Query for Small Devices (Mobile) */
@media (max-width: 767px) {
    header .logo {
        font-size: 18px;
    }

    /* Hide nav-links on small screen */
    header nav .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    /* Show hamburger menu */
    .navbar-toggle {
        display: flex;
    }

    /* Show nav links when hamburger menu is clicked */
    header nav.active .nav-links {
        display: flex;
    }

    .hero-image {
    width: 100%;
    height: auto;
    display: block;
}
/* Adjust features to show one column on small screens */
.features {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.features .feature {
    width: 100%;
    margin-bottom: 20px; /* Space between each feature */
}

/*footer contents */
.footers {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footers .footer {
    width: 100%;
    margin-bottom: 20px; /* Space between each feature */
}

.weather-info {
    text-align: center;
}

.weather-info img {
    width: 50px;
    height: 50px;
}
.business-listings {
    margin: 10px;
    display: flex;
    flex-direction: column;
}


} 


